@media (min-width: 885px) {
  .zdrijeb {
    grid-column: 1/3!important;
  }
    .comment-input-box form {
      width: 900px;
    }
    .bodyWrap {
      max-width: 900px;
      margin: 0 auto;
    }
  .attenders__list {
    overflow: hidden;
  }
    .bodyWrap_notop {
      .w80 {
        width: 750px;
      }
      .logo__login__main {
        max-width: 300px;
      }
      .logo__login__tenisplus {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 12vw;
        height: 6vw;
      }
    }
  .x-container > * {
    grid-column: 2/3;
  }
  .x-container.fordesktop > * {
    grid-column: 1/3!important;
  }
  .grid-list > div {
    flex-basis: 25%;
    flex-grow: 0;
  }
  .step-title {
    font-size: 1.1rem !important;
    line-height: 1.1rem !important;
    margin-top: 10px;
    display: inline-block;
  }
  .step-item.is-active {
    .step-title {
      color: $lightblue;
    }
  }
  .mw50onlydesktop {
    max-width: 50%;
  }
  .custom-cropper-width .cropper {
    width: 100% !important;
  }
  .custom-cropper-width  {
    width: 870px;
  }
  .profile-black .profile-black-header {
    width: auto!important;
  }
}
